
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

h1{
  font-size: 5.625rem;
  margin:70px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #66BFBF;
  font-weight: bold;
  padding: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
}

p{
  line-height: 2;
}

.divide{
  border-style: none;
  border-top-style: dotted;
  border-color: #C8C8C8;
  border-width: 5px;
  width: 3%;
  margin: 100px auto 100px auto;
}

.division{
  border-style: none;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 200px;
  top: 40px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.development{
  width: 50%;
  float: left;
  margin-right: 30px;
}

.java{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.python{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.intro{
  width: 40%;
  margin: auto;
}

.btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Trebuchet MS;
   font-size: 14px;
   font-weight: 300;
   padding: 4px;
   text-shadow: 1px 1px 20px #0059A0;
   border: solid #66BFBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #5BABAB 1px;
   background: #5BABAB;
   background-image: -webkit-linear-gradient(top, #5BABAB, #40ABAB);
   background-image: -moz-linear-gradient(top, #5BABAB, #40ABAB);
   background-image: -ms-linear-gradient(top, #5BABAB, #40ABAB);
   background-image: -o-linear-gradient(top, #5BABAB, #40ABAB);
   background-image: -webkit-gradient(to bottom, #5BABAB, #40ABAB);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration: none;
}
